.trend-gifs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-rows: repeat(14, 11rem);
}

.trendy-container {
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  position: relative;
}

.trendy-container:hover {
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  outline-style: dotted;
  outline-width: 1px;
  outline-offset: -4px;
}

.trend-gif {
  width: 100%;
  max-height: 100%;
  min-height: 100%;
  padding: 2px;
  min-width: 150px;
  display: block;
}

.footer-gif {
  font-size: 14px;
  color: #110038;
}
